* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana';
    background-color: #363636; /* grey background */
    color: #dfdfdf; /* light grey text */
    line-height: 1.6;
}

header {
    background: linear-gradient(to left, rgb(255, 153, 0), rgb(255, 244, 244));
    background-clip: text;
    color: transparent;
    background-color: #242424; /* Dark grey */
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header .ManEmoji {
    background: none; /* Removes the gradient from emoji */
    color: #dfdfdf;   /* Apply a solid color for emoji */
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

nav a {
    background: none;
    color: #dfdfdf;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    /*box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px #464646;*/
    text-decoration: underline;
}

#homepage_me {
        width: 200px;
        border-radius: 20px;
        float: left;
        margin: 10px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);

}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #6e6e6e; /* Light grey */
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1em;
    font-style: normal;
    margin-bottom: 20px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    background-color: #3B3B3B; /* Dark grey */
    color: #615d5b; /* Soft grey */
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

a {
    color: #2E2E2E; /* Dark grey */
    text-decoration: none;
}

a:hover {
    color: #eca660; /* Soft yellow */
    background-color: #6e6e6e;
    padding: 5px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    border-radius: 5px;
    text-decoration: underline;
}

toolshyperlink {
    color: rgb(255, 182, 47); /* Dark grey */
    font-weight: bold;
}

toolshyperlink:hover {
    color: #eca660; /* Soft yellow */
    background-color: #6e6e6e;
    padding: 5px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    border-radius: 5px;
    text-decoration: underline;
}

sociallink {
    color: rgb(255, 182, 47); /* Dark grey */
    font-weight: bold;
}

sociallink:hover {
    color: #eca660; /* Soft yellow */
    background-color: #6e6e6e;
    padding: 5px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    border-radius: 5px;
    text-decoration: underline;
}

.norm-image {
    width: 200px; /* Set the width */
    border-radius: 20px; /* Rounded corners */
    /*float: left;  Allow images to float to the left */
    margin: 10px; /* Margin around the images */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* Shadow effect */
}

h2 {
    font-size: 1.5em;
    position: relative;
    text-align: center;
    color: transparent;
    
}

h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 244, 244));
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1; /* Ensure it's on top */
}

h2::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Customize shadow */
}

h3 {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}
